<!DOCTYPE html>
<html>
<head>
<title>{{page_title}}</title>
<link rel="stylesheet" href="/stylesheets/pyramid.css" type="text/css" media="screen" charset="utf-8">
<LINK rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<meta name="keywords" content="tube bender, CNC tube bender, End Former, Eaton Leonard, AddisonMckee, BLM Group, Adaptive Motion Control Systems, bending machines, tube bender, pipe bender, mandrel bender, tube bender for sale, bender rebuild, tube forming, midwest bender services, tube forming machinery, metal fabrication equipment, tube bending software, cnc bending machines, tube bender control"/>
<meta name="description" content="New, Rebuild, and Retrofit Tube Forming Machinery - CNC Tube Benders and End Formers"/>
<meta name="author" content="Pyramid Tubular Technologies, Inc"/>
<meta name="viewport" content="user-scalable = yes">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/javascript/slideshow.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/jquery.cycle.all.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/lightbox.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/popups.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/jquery-slideViewerPro.1.5.js" type="text/javascript" charset="utf-8"></script>






<!--Google Analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-35379661-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
<div id="header">
	<a href="/"><img src="/images/Pyramid-Shadowed-Logo.png" alt="Pyramid Shadowed Logo"></a>
	<div id="contact">
		<nobr>Phone: 810-732-6335</nobr>
		<p>Email:<a href="mailto:info@pyramidtube.com"> info@pyramidtube.com</a></p>		
	</div>	
</div>

<div id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/tube-benders">CNC Tube Benders</a></li>
		<li><a href="/engineering">Custom Engineering</a></li>
		<!--<li><a href="/controls">Controls & Software</a></li>-->
		<li><a href="/parts">Parts Store</a></li>
		<!--<li><a href="/inventory">Refurbished Inventory</a></li>-->
		<li><a href="/company">Company</a></li>
	</ul>	
</div>	
<div id="section">
	<div id="social">
		<ul>
			<li><a href="https://www.facebook.com/pages/Pyramid-Tubular-Technologies-Inc/226381744134190" target="_blank"><img src="/images/facebook.jpg" alt="Facebook"></a></li>
			<li><a href="http://www.linkedin.com/company/2749685?trk=tyah" target="_blank"><img src="/images/linkedin-icon.jpg" alt="Linkedin Icon"></a></li>
			<li><a href="https://plus.google.com/107030479413732589478/about" target="_blank"><img src="/images/google_plus_logo.jpg" alt="Google Plus Logo"></a></li>
			<li><a href="http://www.youtube.com/channel/UCd8hfvVbuYUBEjDu3MvWg9g" target="_blank"><img src="/images/youtube.png" alt="Youtube"></a></li>
		</ul>				
	</div>	
	<div id = "content">
		{% block body %}{% endblock %}
	</div>
	
</div>	

<div id="footer">
	<div id ="logo">
		<img src="/images/bot_logo.png" alt="Bot Logo">
		<img src="/images/sdvosb_small.gif"  alt="Verterans">
		<img src="/images/usa.gif"  alt="Usa">
	</div>	
</div>	
	
</body>

</html>